.chatgo-iframe{
    width: 100%;
    height: 100%;
    min-width: 320px;
    min-height: 480px;
    max-width: 480px;
    max-height: 480px;
    border: none;
    position: relative;
    background-color: #f2f2f2;
    box-sizing: border-box;
}
.chatgo-iframe.desktop-enabled{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}
.chatgo-iframe.float{
    width: 480px;
    height: 480px;
    position: fixed;
    bottom: 120px;
    right: 24px;
    display: none;
    border-radius: 8px;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.1);
    z-index: 999;
}
.chatgo-iframe.float.open{
    display: unset;
}
.chatgo-badge{
    width: 86px;
    height: 86px;
    background-color: #ddd;
    position: fixed;
    bottom: 24px;
    right: 24px;
    border-radius: 99px;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.1);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 999;
}
.chatgo-badge > img{
    width: 100%;
    height: auto;
}
.chatgo-badge-status{
    width: 14px;
    height: 14px;
    display: block;
    position: absolute;
    bottom: 6%;
    right: 6%;
    border-radius: 99px;
    background-color: #888;
    border: 1px solid #fff;
}

.chatgo-iframe.float.start{
    left: 24px;
    right: unset;
}
.chatgo-iframe.float.end{
    left: unset;
    right: 24px;
}
.chatgo-iframe.float.top{
    top: 120px;
    bottom: unset;
}
.chatgo-iframe.float.bottom{
    top: unset;
    bottom: 120px;  
}
.chatgo-badge.start{
    left: 24px;
    right: unset;
}
.chatgo-badge.end{
    left: unset;
    right: 24px;
}
.chatgo-badge.top{
    top: 24px;
    bottom: unset;
}
.chatgo-badge.bottom{
    top: unset;
    bottom: 24px;
}
.chatgo-badge-new{
    font-size: 12px;
    display: none;
    padding: 0px 8px;
    color: #fff;
    background-color:green;
    transition: 300ms;
    border: 1px solid #fff;
    position: absolute;
    top: 8px;
    left: -16px;
    border-radius: 99px;
}

.hidden-important{
    display: none !important;
}

@media screen and (max-width: 600px) {
    .chatgo-iframe.float{
        width: 100%;
        height: 100%;
        position: fixed;
        bottom: unset !important;
        top: 0px !important;
        right: unset !important;
        left: 0px !important;
        max-width: 100%;
        max-height: 100%;
        display: none;
        border-radius: 8px;
        box-shadow: 0px 0px 12px rgba(0,0,0,0.1);
        z-index: 9999;
        border-radius: 0px !important;
    }
}