ion-avatar.title-icon{
    background: var(--ion-color-success);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 64px;
    max-height: 64px;
    min-width: 64px;
    min-height: 64px;
}