.grouped-question-popover{
    background-color: rgba(0,0,0,0.3);
}
.grouped-question-popover .popover-content{
    width: 80%;
}
.grouped-question-radio-group ion-list-header ion-label{
    font-size: 16px;
    margin-top: 16px;
}